### Number Format

Format any integer provided into a string with "," (commas) in the correct places.

In [1]:
def number_format(n):
    l = list(str(n)[::-1])
    new = []
    newer = []
    i = 0
    while i < len(l):
        new.append(l[i:i+3])
        i += 3
    for i in new[::-1]:
        for j in i[::-1]:
            newer.append(j[0])
        newer.append(',')
    newer = ''.join(newer)[:-1]
    newer = newer.replace('-,','-')
    return newer

In [2]:
number_format(-5420902)

'-5,420,902'

In [3]:
number_format(-420902)

'-420,902'

In [4]:
number_format(5678545)

'5,678,545'

In [5]:
number_format(-3)

'-3'

In [6]:
number_format(-1003)

'-1,003'